<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js #1</title>
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
    <h1>Vue.js #1</h1>
    <div id="app">
        <h2>{{subtitulo}}</h2>
    </div>

    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>

    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>


    <div id="app-6">
        <p>{{ message6 }}</p>
        <input type="text" name="" id="" v-model=message6 v-bind:message6="upper" placeholder="say something">
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
    <script src="app.js"></script>
</body>

</html>